<div class="menu offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h1 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h1>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
        <div class="m-2">
            <a href="" [routerLink]="['/alumnos']" routerLinkActive="router-link-active" class="btn btn-primary">Alumnos</a>
        </div>
        <div class="m-2">
            <a href="" [routerLink]="['/cursos']" routerLinkActive="router-link-active" class="btn btn-primary">Cursos</a>
        </div>
	</div>
</div>
