<div class="menu offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h1 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h1>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="">
        <a href="" [routerLink]="['/inicio']" routerLinkActive="router-link-active" class="item-menu">Inicio</a>
        <a href="" [routerLink]="['/alumnos']" routerLinkActive="router-link-active" class="item-menu">Alumnos</a>
        <a href="" [routerLink]="['/cursos']" routerLinkActive="router-link-active" class="item-menu">Cursos</a>
        <a href="" [routerLink]="['/inscripciones']" routerLinkActive="router-link-active" class="item-menu">Inscripciones</a>
	</div>
</div>
