<div class="row">
    <div class="col-md-3 p-3">
        <mat-card >
            <mat-card-title>CURSOS</mat-card-title>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="verCursos()">
                    <mat-icon>visibility</mat-icon> Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-3 p-3">
        <mat-card >
            <mat-card-title>ALUMNOS</mat-card-title>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="verAlumnos()">
                    <mat-icon>visibility</mat-icon> Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-3 p-3">
        <mat-card >
            <mat-card-title>MIS DATOS</mat-card-title>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="verMisDatos()">
                    <mat-icon>visibility</mat-icon> Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-3 p-3">
        <mat-card >
            <mat-card-title>INSCRIPCIONES</mat-card-title>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="verInscripciones()">
                    <mat-icon>visibility</mat-icon> Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<app-inscripciones-listado></app-inscripciones-listado>