<h1 appTituloStyle>Listado de cursos</h1>

<div class="row">
    <div class="mb-3">
        <button [routerLink]="['/cursos/crear']" mat-raised-button color="primary">Agregar curso</button> 
    </div>
</div>

<div class="row">
    <!-- <div class="d-flex justify-content-between gap-3"> -->
        <div *ngFor="let curso of cursos$ | async" class="col-md-4 p-3">
            <mat-card >
                <mat-card-title>{{curso.nombre}}</mat-card-title>
                <mat-card-content>
                    <p>Fecha de inicio: {{ curso.fecha_desde | date:'dd/MM/yyyy'}}</p>
                    <p>{{ curso.descripcion }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="editarCurso(curso)">
                        <mat-icon>edit</mat-icon> Editar
                    </button>
    
                    <button mat-raised-button color="warn" (click)="eliminarCurso(curso.id)">
                        <mat-icon>delete</mat-icon> Eliminar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    <!-- </div> -->
</div>




