<div class="row">
    <div class="col-md-6">

        <form [formGroup]="formulario" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
                <div *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('nombre')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div> 
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('nombre')?.errors?.['pattern']">
                        No debe contener caracteres especiales o números 
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido">
                <div *ngIf="formulario.get('apellido')?.invalid && (formulario.get('apellido')?.dirty || formulario.get('apellido')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('apellido')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div> 
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('apellido')?.errors?.['pattern']">
                        No debe contener caracteres especiales o números 
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">DNI</label>
                <input type="text" class="form-control" formControlName="dni">
                <div *ngIf="formulario.get('dni')?.invalid && (formulario.get('dni')?.dirty || formulario.get('dni')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('dni')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('dni')?.errors?.['pattern']">
                        El DNI ingresado debe ser un número entre 6 y 8 dígitos
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" formControlName="fecha_nacimiento">
                <div *ngIf="formulario.get('fecha_nacimiento')?.invalid && (formulario.get('fecha_nacimiento')?.dirty || formulario.get('fecha_nacimiento')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('fecha_nacimiento')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('fecha_nacimiento')?.errors?.['edad']">
                        Usted debe ser mayor de 18 años. 
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">País</label>
                <select class="form-select" aria-label="Default select example" formControlName="pais" (change)="handlerPaises($event)">
                    <option [value]="null">Seleccione un país</option>
                    <option *ngFor="let pais of paises" [value]="pais.id"> {{ pais.nombre }} </option>
                </select>
                <div *ngIf="formulario.get('pais')?.invalid && (formulario.get('pais')?.dirty || formulario.get('pais')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('pais')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div> 
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Ciudad</label>
                <select class="form-select" aria-label="Default select example" formControlName="ciudad">
                    <option [value]="null">Seleccione una ciudad</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.id"> {{ ciudad.nombre }} </option>
                </select>
                <div *ngIf="formulario.get('ciudad')?.invalid && (formulario.get('ciudad')?.dirty || formulario.get('ciudad')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('ciudad')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div> 
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <div *ngIf="formulario.get('password')?.invalid && (formulario.get('password')?.dirty || formulario.get('password')?.touched)">
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('password')?.errors?.['required']">
                        Este campo es obligatorio. 
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="formulario.get('password')?.errors?.['pattern']">
                        El password debe tener como mínimo 8 caracteres, al menos una mayúscula, una minúscular y un número.
                    </div> 
                </div>
            </div>

            <button class="btn btn-primary" (click)="handlerSubmit()" 
            >Submit</button>

        </form>

    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Resultado del formulario</h5>
              <p class="card-text">
                {{ resultado }}
              </p>
            </div>
          </div>
    </div>
</div>


